LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
LIVEKIT_WS_URL=ws://YOUR_LOCAL_IP:7880

DEEPGRAM_API_KEY=
OPENAI_API_KEY=
ELEVEN_API_KEY=
GROQ_API_KEY=

TOKEN_SERVER_PORT=4000
ADMIN_API_URL=http://localhost:4001/api
